<div class="container">
  <h1 class="text-center pt-2">The Playlists</h1>
  <p class="text-center mb-4">Here you can create your own playlist, edit your already existing playlist, add songs, and show it to the world!</p>
    <div class="text-left pt-4">
        <button type="submit" class="btn btn-primary" (click)="onNew()">
          <i class="fa fa-list-ul"></i> New Playlist
        </button>
      </div>
      <br>
  <div>

    <!-- Add new Playlist -->
    <div class="regentry" *ngIf="showNew">
      <form (ngSubmit)="onSave()">
        <div class="form-group row">
          <label for="playlistname-input" class="col-2 col-form-label">Playlist Name *</label>
  
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="regModel.playlistName"
              name="playlistName"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="example-description-input" class="col-2 col-form-label">Description *</label>
  
          <div class="col-10">
            <textarea class="form-control" [(ngModel)]="regModel.description" name="description"></textarea>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="songTitle-input" class="col-2 col-form-label">Song Title *</label>
  
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="regModel.songTitle"
              name="songTitle"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="songTitle-input" class="col-2 col-form-label">Artist *</label>
  
          <div class="col-10">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="regModel.artist"
              name="artist"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="songTitle-input" class="col-2 col-form-label">Duration *</label>
  
          <div class="col-5 input-group mb-3">
            <input
              class="form-control"
              type="number"
              [(ngModel)]="regModel.duration"
              name="duration"
            />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">Minutes</span>
            </div>
          </div>
        </div>
  
        <button type="submit" class="btn btn-success mr-3"><i class="far fa-save"></i> {{ submitType }}</button>
  
        <button type="submit" class="btn btn-danger" (click)="onCancel()">
          <i class="far fa-window-close"></i> Cancel
        </button>
      </form>
      <br>
    </div>

    <div class="card w-100 mb-3" style="width: 18rem;" *ngFor="let registration of registrations; let i = index">
      <div class="card-body">
        <h4 class="card-title">{{ registration.playlistName }}</h4>
        <p class="card-subtitle mb-2 text-muted">Total - Songs, {{ registration.duration }} Minutes</p>
        <h6 class="card-text">{{ registration.description }}.</h6><hr>
        <table>
          <tr style="font-size:24px;">
            <td class="pr-3"><i class="fa fa-play-circle"></i> </td>
            <td>
              {{ registration.songTitle }} <br>
              <span style="font-size:16px;">by {{ registration.artist }} • {{ registration.duration }} Minutes </span>
            </td>
          </tr>
        </table><br>
        <button type="button" class="btn btn-danger mr-3" (click)="onDelete(i)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-info mr-3" (click)="onEdit(i)"><i class="fas fa-pencil-alt"></i> Edit</button>
      </div>
    </div>
  </div>
  

  <br />
</div>
