<div class="container">
  <h1 class="text-center pt-2">The Playlists</h1>
  <p class="text-center mb-4">Here you can create your own playlist, edit your already existing playlist, add songs, and show it to the world!</p>
    <div class="text-left pt-4">
        <button type="submit" class="btn btn-primary" (click)="onNew()">
          <i class="fa fa-list-ul"></i> New Playlist
        </button>
      </div>
      <br>
  <div>

    <!-- Add new Playlist -->
    <div class="regentry" *ngIf="showNew">
      <form (ngSubmit)="onSave()" [formGroup]="nestedForm">
        <div class="form-group row">
          <label for="playlistname-input" class="col-2 col-form-label">Playlist Name *</label>
  
          <div class="col-10">
            <input
              [ngClass]="{'form-control':true,
              'is-invalid': nestedForm.controls.playlistName.invalid && nestedForm.controls.playlistName.touched,
              'is-valid': nestedForm.controls.playlistName.valid && nestedForm.controls.playlistName.touched}"
              formControlName="playlistName"
              type="text"
              [(ngModel)]="regModel.playlistName"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="example-description-input" class="col-2 col-form-label">Description *</label>
  
          <div class="col-10">
            <textarea [ngClass]="{'form-control':true,
            'is-invalid': nestedForm.controls.description.invalid && nestedForm.controls.description.touched,
            'is-valid': nestedForm.controls.description.valid && nestedForm.controls.description.touched}" 
            formControlName="description" 
            [(ngModel)]="regModel.description"></textarea>
          </div>
        </div>

        <div class="form-group row" formArrayName="songTitle">
          <div class="col-md-12">
            <table style="border-collapse: separate;margin-right: 30px;">
              <tr>
                <td>Song Title *</td>
                <td>Artist *</td>
                <td>Duration *</td>
                <td><div class="btn btn-primary btn-sm" (click)="addSong()"><i class="fas fa-plus-square"></i></div></td>
              </tr>
              <tr *ngFor="let group of songArray.controls; let i = index;" [formGroupName]="i">
                <td>
                  <input
                    [ngClass]="{'form-control':true,
                    'is-invalid': group.controls.songsTitle.invalid && group.controls.songsTitle.touched,
                    'is-valid': group.controls.songsTitle.valid && group.controls.songsTitle.touched}"
                    formControlName="songsTitle"
                    type="text"
                    [(ngModel)]="regModel.songTitle"
                  />
                </td>
                <td>
                  <input
                  [ngClass]="{'form-control':true, 
                  'is-invalid': group.controls.artist.invalid && group.controls.artist.touched,
                  'is-valid': group.controls.artist.valid && group.controls.artist.touched}"
                  formControlName="artist"
                  type="text"
                  [(ngModel)]="regModel.artist"
                  />
                </td>
                <td>
                  <div class="input-group">
                    <input
                    [ngClass]="{'form-control':true, 
                    'is-invalid': group.controls.duration.invalid && group.controls.duration.touched,
                    'is-valid': group.controls.duration.valid && group.controls.duration.touched}"
                    formControlName="duration"
                    type="number"
                    [(ngModel)]="regModel.duration"
                    />
                    <small *ngIf="duration.errors?.required && duration.touched" class="form-text custom-invalid-feedback">Field is required</small>
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">Minutes</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="btn btn-danger btn-sm" (click)="removeSong()"><i class="fas fa-minus-square"></i></div>
                </td>
              </tr>
            </table>
          </div>
        </div>
  
        <button type="submit" [disabled]="!nestedForm.valid" class="btn btn-success mr-3"><i class="far fa-save"></i> Save Playlist</button>
  
        <button type="submit" class="btn btn-danger" (click)="onCancel()">
          <i class="far fa-window-close"></i> Cancel
        </button>

      </form>
      <br>
    </div>

    <!-- Listed Playlist -->
    <div class="card w-100 mb-3" style="width: 18rem;" *ngFor="let registration of registrations; let i = index">
      <div class="card-body">
        <h4 class="card-title">{{ registration.playlistName }}</h4>
        <p class="card-subtitle mb-2 text-muted">Total 1 Songs, {{ registration.duration }} Minutes</p>
        <h6 class="card-text">{{ registration.description }}.</h6><hr>
        <table>
          <tr style="font-size:24px;">
            <td class="pr-3"><i class="fa fa-play-circle"></i> </td>
            <td>
              {{ registration.songTitle }} <br>
              <span style="font-size:16px;">by {{ registration.artist }} • {{ registration.duration }} Minutes </span>
            </td>
          </tr>
        </table><br>
        <button type="button" class="btn btn-danger mr-3" (click)="onDelete(i)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-info mr-3" (click)="onEdit(i)"><i class="fas fa-pencil-alt"></i> Edit</button>
      </div>
    </div>
  </div>
  

  <br />

</div>

