<div class="view">
  <div class="container">
      <header>
          <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
      </header>
      <br />
      <div class="container">
          <div class="row">
              <div class="col-md-2">Created by:</div>
              <div class="col-md-10"><a href="https://www.linkedin.com/in/ardha-putra-21b8b1110/" target="_blank">Ardha Putra</a></div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-2">Blog:</div>
              <div class="col-md-10"><a href="https://arputra.com" target="_blank">http://arputra.com</a></div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-2">GitHub:</div>
              <div class="col-md-10"><a href="https://github.com/ardhaPutra" target="_blank">https://github.com/ardhaPutra</a></div>
          </div>
      </div>
  </div>
</div>